@font-face {
    font-family: Csfont;
    src: url("assets/fonts/cs.woff") format("woff");
}

html * {
    font-family: Csfont, Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    user-select: none;
    overflow: hidden;
}

body{
    margin: 0;
    /* cursor: crosshair; */
    cursor:url(assets/interface/cursor.png) 8 10, auto;
}

.background{
    background-image: url('assets/maps/dust2_spot2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

.weaponsViewContainer{
    position: absolute;
    right: 1%;
    bottom: 20%;
    text-align: right;
}

.weaponsViewContainer img{
    transform: rotateY(180deg);
}

.ammoContainer{
    position: absolute;
    bottom: 1%;
    right: 5%;
}

.numberContainer {
    position: relative;
}

.numberContainer .number{
    position: absolute;
    right: -15px;
    top: 0;
    color: white;
}

.numberContainer hr{
    margin: 0;
    width: 10px;
    position: absolute;
    right: 0;
    margin-top: 2rem;
}

.ammoContainer p{
    display: inline-block;
}

.ammoContainer #current_ammo{
    font-weight: 500;
    font-size: 50px;
    color: white;
}

.ammoContainer #total_ammo, #slash{
    font-weight: 500;
    font-size: 25px;
    color: white;
}


.weaponContainer{
    position: absolute;
    bottom: -2%;
    right: 20%;
    user-select: none;
    pointer-events: none;
}

.glockStyle{
    user-select: none;
    width: 17vw;
    filter: brightness(1.35);
}

.akStyle{
    user-select: none;
    width: 35vw;
    filter: brightness(1.35);
}

.shakeWeapon{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.playButton{
    width: 3rem;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}
.playButton img{
    width: 100%;
}

.playButton img:hover{
    background-color: red;
    border-radius: 50%;
}

#dummyContainer img{
    width: 100%;
}

.numberStartingContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.numberStartingContainer p{
    font-weight: 500;
    font-size: 90;
    color: red;
}

.terrorist1{
    left: 60%;
    top: 41.5%;
    position: absolute;
    overflow: initial;
    animation: moveAnimation 3s infinite alternate;
}
.terrorist1 img{
    width: 81px;
    transform: rotate(6deg);
    user-select: none;
    /* pointer-events: none; */
}

.damage{
    font-weight: 600;
    font-size: 17px;
    color: red;
    position: absolute;
    left: 41%;
    top: -25%;
    font-family: initial !important;
}

.chiken{
    top: 51.5%;
    left: 31%;
    position: absolute;
    overflow: initial;
    animation: chickenMove1 3s infinite;
}

.chiken img{
    width: 60px;
}

.hpBar{
    background-color: #ccc;
    width: 50px;
    margin: 0 auto;
    border: solid 1px #aaa;
    position: absolute;
    left: 50%;
    top: -6%;
    transform: translate(-50%);
    height: 8px;
    border-radius: 5px;
}

.hpBarGreen {
    background-color: #007f00;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    transition: .20s all;
}

.hpBarRed {
    width: 100%;
    height: 100%;
    background-color: #cc0000;
    transition: .20s all linear;
}

.timeContainer{
    position: absolute;
    bottom: 1.5%;
    left: 5%;
    font-size: 44px;
    letter-spacing: 3px;
    color: white;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@keyframes moveAnimation {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-30px)
    }
    75% {
      transform: translateX(20px);
    }
}

@keyframes chickenMove1 {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(300px, 80px);
    }
    100% {
      transform: translate(0, 0);
    }
}